{% extends "base.html" %}

{% block page %}

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<div class="padtop">
	  <h1 class="title">BYU Open Source Lab</h1>
	  <h2 class="subtitle">coding for a better world</h2>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">Citizen Budget</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span12">
	<img src="/static/img/citizen-budget.png"></img>
	<p>An online budgeting app that helps residents see how their
	  tax dollars are being spent, with easy-to-read charts and graphs. A
	  city or county government uploads their complete financial data,
	  and Citizen Budget automatically loads all funds and categories,
	  showing yearly trends for easy analysis.</p>

	<p>Code is
	  at <a href="https://github.com/byu-osl/citizen-budget">GitHub</a>.
	</p>
      </div>
    </div>
  </div>
</div>

<div class="banner4">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">leaf</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span12">
	<img src="/static/img/leaf-chart.png"></img>
	<p>leaf is designed to help you find &#8220;holes&#8221; in
	the genealogy you have stored
	in <a href="http://www.familysearch.org">FamilySearch</a>. A
	hole is any person with missing information &#8212; a birth or
	death event, a spouse or children, or temple ordinances. Users
	login to FamilySearch, and then leaf displays their genealogy
	in ancestry and descendancy charts, color coded to indicate
	where the holes are located. Users can customize what kind of
	holes they are looking for, and can also use a powerful search
	engine to find holes on collateral lines.</p>
	
	<p>The free web site is available
	at <a href="http://leaf.byu.edu" >leaf.byu.edu</a>. Some of
	the basic code that makes leaf work is available
	at <a href="https://github.com/byu-osl/familytree-sample-app"
	onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://github.com']);">GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner2">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
	<h3>Mission</h3>
	<p>Our mission is to create software that makes the world a
	better place. We build software that anyone can use or modify
	free of charge, in the spirit of community service that is at
	the heart of BYU’s mission. We are funded entirely via
	donations from people who enjoy our work and want to see what
	we dream up next.</p>
      </div>
      <div class="span4">
	<h3>Mentoring</h3>
	<p>We mentor students through the process of creating software
	that can help them to make a difference. We have a strong
	emphasis on usability and design, because the user comes
	first. We use the latest tools and practices so students can
	acquire cutting-edge skills.</p>
      </div>
      <div class="span4">
	<h3>Get Involved</h3>
	<p>We are seeking partners that are willing to sponsor a
	project, provide guidance on design, or even contribute
	code. We have a limited number of paid lab positions available
	to BYU students and are seeking donations to expand the number
	of students we can support. We also encourage students to
	contribute code in their spare time, so they can build up
	their portfolio.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
