{% extends "base.html" %}

{% block page %}

<div class="banner2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1 class="title">Software is our Service</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title"><a href="/projects">Civic Apps</a></span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span4">
	<p>We build apps that help local governments connect with
	  residents. Cities and counties often do not have the
	  resources to purchase expensive proprietary systems. Using
	  open source software means cities and counties can cooperate
	  to help improve the software, while benefiting from a much
	  more complete and flexible system than they could afford on
	  their own.</p>
      </div>
      <div class="span8">
	<img src="/static/img/citizen-budget.png"></img>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">Family History</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span4">
	<p>We have a passion for helping families find their
	  ancestors. BYU is uniquely positioned to contribute
	  technology that makes a difference in this area -- we have
	  professors actively conducting research in related areas,
	  such as handwriting recognition, image analysis, machine
	  learning, social networking, usability, and software
	  engineering. We also enjoy a relationship with
	  <a href="http://familysearch.org">FamilySearch</a>, since it
	  is also operated by the LDS Church. Building open source
	  software is our way of collaborating with a worldwide
	  community of developers who share our passion.
	</p>
      </div>
      <div class="span8">
	<img src="/static/img/leaf-click.png"></img>
    </div>
  </div>
</div>

<div class="banner4">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
	<h3>Mission</h3>
	<p>Our mission is to create software that makes the world a
	better place. We build software that anyone can use or modify
	free of charge, in the spirit of community service that is at
	the heart of BYU’s mission. We are funded entirely via
	donations from people who enjoy our work and want to see what
	we dream up next.</p>
      </div>
      <div class="span4">
	<h3>Mentoring</h3>
	<p>We mentor students through the process of creating software
	that can help them to make a difference. We have a strong
	emphasis on usability and design, because the user comes
	first. We use the latest tools and practices so students can
	acquire cutting-edge skills.</p>
      </div>
      <div class="span4">
	<h3>Get Involved</h3>
	<p>We are seeking partners that are willing to sponsor a
	project, provide guidance on design, or contribute
	code. We have a limited number of paid lab positions available
	to BYU students and are seeking donations to expand the number
	of students we can support.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
