{% extends "base.html" %}

{% block page %}

<div class="banner2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h1>Director</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">Daniel Zappala</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span2">
	<img src="/static/img/daniel-zappala.jpg"></img>
      </div>
      <div class="span10">
	<p>Daniel Zappala is a professor
	of <a href="http://cs.byu.edu">Computer Science</a> at
	<a href="http://byu.edu">Brigham Young University</a>.  He is
	the director of the <a href="http://ilab.cs.byu.edu">Internet
	Research Lab</a>, where he leads a team of students conducting
	research on wireless networks, cloud computing, and social
	networking.</p>

	<p>Daniel has a passion for open source software, so he
	  founded the <a href="http://osl.byu.edu">BYU Open Source
	  Lab</a> to mentor students who share this love and want to
	  make a difference in the world. He is an avid genealogist,
	  and in his spare time writes free software.</p>

	<p><a href="//plus.google.com/114449822521576560110?prsrc=3"
   rel="publisher" target="_top" style="text-decoration:none;">
   <img src="//ssl.gstatic.com/images/icons/gplus-32.png"
   alt="Google+" style="border:0;width:32px;height:32px;"/>
</a>Follow me on Google+ to get updates and discuss our work.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner2">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	  <h1>Contributors</h1>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span4">
	<h4>Citizen Budget</h4>
	<ul>
	  <li>Daniel Zappala</li>
	  <li>Eric Lazalde</li>
	  <li>Christopher Morgan</li>
	  <li>Dallin Smith</li>
	</ul>
      </div>
      <div class="span4">
	<h4>BookOut</h4>
	<ul>
	  <li>Nate Carrier</li>
	  <li>Jaysen Draney</li>
	  <li>Bryan Gwilliam</li>
	  <li>Ryan Hess</li>
	  <li>Trever Hixson</li>
	  <li>Stephen Kitto</li>
	  <li>Jessica Pickup</li>
	  <li>Caroline Tew</li>
	</ul>
      </div>
      <div class="span4">
	<h4>leaf</h4>
	<ul>
	  <li>Daniel Zappala</li>
	  <li>Charles Knutson</li>
	  <li>Jonathon Klein</li>
	  <li>Justin Seliger</li>
	  <li>Justin York</li>
	  <li>Robert Brown</li>
	  <li>Steven Nay</li>
	  <li>Brandon Reid</li>
	  <li>Bryan Whitney</li>
	  <li>Scott Erickson</li>
	  <li>Reed Allred</li>
	  <li>Kevin Rampton</li>
	  <li>and numerous other students</li>
	</ul>
      </div>
  </div>
</div>

{% endblock %}
