{% extends "base.html" %}

{% block page %}

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<div class="padtop">
	  <h1>Civic Apps</h1>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">Citizen Budget</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span12">
	<img src="/static/img/citizen-budget.png"></img>
	<p>An online budgeting app that helps residents see how their
	  tax dollars are being spent, with easy-to-read charts and graphs. A
	  city or county government uploads their complete financial data,
	  and Citizen Budget automatically loads all funds and categories,
	  showing yearly trends for easy analysis.</p>

	<p>Code is
	  at <a href="https://github.com/byu-osl/citizen-budget">GitHub</a>.
	</p>
      </div>
    </div>
  </div>
</div>

<div class="banner3">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">BookOut</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span12">
	<img src="/static/img/citizen-budget.png"></img>
	<p>Bookout is a person-to-person lending library. Its design
	was inspired by a small town without funds to build a public
	library, recognizing that the residents themselves had plenty
	of books to share directly with each other. The app is
	currently in an early alpha stage, with only limited
	functionality available. Eventually it will allow you to
	import your friends from Facebook or your colleagues from
	LinkedIn and then share books with each other. We also have
	ideas for a mobile app that will help you to scan in your
	personal library and act as a checkout device when a friend
	stops by to pick up or check out a book.</p>

	<p>Code is
	  at <a href="https://github.com/byu-osl/bookout">GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>

<div class="banner2 borders">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<div class="padtop">
	  <h1>Family History</h1>
	</div>
      </div>
    </div>
  </div>
</div>

<div class="banner4">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
	<h3><span class="project-title">leaf</span></h3>
      </div>
    </div>
  </div>
  <div class="container project-description">
    <div class="row-fluid">
      <div class="span12">
	<img src="/static/img/leaf-chart.png"></img>
	<p>leaf is designed to help you find &#8220;holes&#8221; in
	the genealogy you have stored
	in <a href="http://www.familysearch.org">FamilySearch</a>. A
	hole is any person with missing information &#8212; a birth or
	death event, a spouse or children, or temple ordinances. Users
	login to FamilySearch, and then leaf displays their genealogy
	in ancestry and descendancy charts, color coded to indicate
	where the holes are located. Users can customize what kind of
	holes they are looking for, and can also use a powerful search
	engine to find holes on collateral lines.</p>
	
	<p>The free web site is available
	at <a href="http://leaf.byu.edu" >leaf.byu.edu</a>. Some of
	the basic code that makes leaf work is available
	at <a href="https://github.com/byu-osl/familytree-sample-app"
	onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://github.com']);">GitHub</a>.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
